<div class="panel panel-info">
  <div class="panel-heading">Reports Available ({{id}})</div>
  <div class="panel-body">
    <div class="row">

      <img height="10%" width="100%" src="../../assets/dashboard.png" />
    </div>
  </div>
</div>


<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show Reports</button>
<div id="demo" class="collapse">
  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <!--<canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins" id="my-canvas"></canvas>-->
    </div>
    <div class="col-sm-6" style="background-color:pink;">
      <div>
        <canvas id="myChart" #myChart></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="background-color:greenyellow;">
      <canvas id="myPiechart" #myPiechart></canvas>
    </div>
    <div class="col-sm-6" style="background-color:aliceblue;">
      <div>
        <canvas id="myBarchart" #myBarchart></canvas>
      </div>
    </div>
  </div>
</div>


