.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-header-cell {
  background-color: #393939;
  color: white;
  font-weight:bold;
}
.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
.mat-header-row, .mat-row {
  min-height: 30px;
}
.mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 20px !important;
}
.mat-toolbar-multiple-rows {
  min-height: 34px;
}

.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 2px;
}

.table-holder {
  background-color: lightgray;
  padding: 5px;
  padding-top: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.list-title {
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 5px;
}
