<style>
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
  }

    .form-container > * {
      width: 100%;
    }

  .container {
    
    text-align: center;
    height: 100%;
    width: 50%;
    padding:0px;
    margin:0px;
  }

  body {
    padding: 70px;
  }

  h1 {
    margin: auto;
  }
</style>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="container">
      <div style="background-color: lightblue;margin:0px;padding:0px;">
        <h3 style="padding:0px;margin:0px;"><i class="fa fa-lock" aria-hidden="true"></i> Login</h3>

      </div><br />
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. Tapaswini" value="Anshu" formControlName="username" required [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

      </mat-form-field>

      <br />

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Ex. It makes me feel..." type="password" value="abc123" formControlName="password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </mat-form-field>

      </div>

      <div class="checkbox">
        <label><input type="checkbox" value="" /> Remember me</label>
      </div>
      <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button type="submit" [disabled]="loading" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Login</button>

      <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-remove"></span>Login with Facebook </button><br />
      <br /> <div style="border:1px solid black;height:1px;"></div><br />
      <div class="footer">
        <p>Don't have an Account! <a href="/UserRegister">Sign Up Here</a>&nbsp;<a routerLink="/UserRegister" class="btn btn-link">(Register)</a> &nbsp;|&nbsp; Forgot <a href="#">Password?</a></p>
        
      </div>

    </div>



  </div>
</form>
