<div class="panel panel-info" style="width:400px;">
  <div class="panel-heading">Student id: {{data.id}}</div>
  <div class="panel-body">
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      

    </form>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
      <button class="btn btn-primary btn-sm" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      &nbsp;|&nbsp;<button class="btn btn-primary btn-sm" (click)="onNoClick()" tabindex="-1">Cancel</button></div>
    </div>

  </div>
</div>


