
<div class="row table-holder mat-elevation-z8" style="width:99%">

  <div class="container mat-elevation-z8">

    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter Students">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Category}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Price}}</mat-cell>
      </ng-container>
      <!--<ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created_at}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.updated_at}}</mat-cell>
      </ng-container>-->
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary" (click)="startEdit(i, row.id, row.Name, row.Category, row.Price)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="deleteItem(i, row.id, row.Name, row.Category, row.Price)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No results
    </div>
    <mat-paginator #paginator
                   [length]="dataSource.filteredData.length"
                   [pageIndex]="0"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <button mat-raised-button color="primary" data-toggle="collapse" data-target="#demo">Show Reports</button>
  <div id="demo" class="collapse container mat-elevation-z8">
    <div class="row">
      <div class="col-sm-6" style="background-color:yellow;">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins" id="my-canvas"></canvas>
      </div>
      <div class="col-sm-6" style="background-color:pink;">
        <div>
          <canvas id="myChart" #myChart></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="background-color:greenyellow;">
        <canvas id="myPiechart" #myPiechart></canvas>
      </div>
      <div class="col-sm-6" style="background-color:aliceblue;">
        <div>
          <canvas id="myBarchart" #myBarchart></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="background-color:pink;">
        <canvas id="myPiechartTrans" #myPiechartTrans></canvas>
      </div>
      <div class="col-sm-6" style="background-color:aliceblue;">
        <div>
          <canvas id="myBarchart" #myBarchart></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
