.panel.panel-default {
  width: 100%;
  margin-right: 10px;
}

.table-holder {
  background-color: lightgray;
  padding: 5px;
  padding-top: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 25px;
}

.panel.panel-default {
  width: 100%;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
}

.panel-heading {
  padding-left: 10px;
}

.panel-footer {
  padding: 10px 15px;
  border-top: 0px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: white;
}

.mySelect {
  margin-top: 15px;
}

.tp-margin {
  margin: 0 10px;
}

.full-width {
  width: 100%;
}

.mat-form-field-label {
  font-size: 14px !important;
}

.mat-input-wrapper {
  font-size: 14px;
}

.mat-form-field {
  font-weight: 500;
  line-height: 1.125;
  font-size: 14px !important;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
