/* Required */
body {
  margin: 0;
  height: 100%;
}

#wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 55px 1fr 30px;
}

#content {
  overflow-y:hidden;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
.example-icon {
  padding: 0 14px;
  vertical-align: middle
}

/* Optional */
#wrapper > * {
  padding: 0px;
}

#header {
  background-color: #ff0000ff;
}

#content {
  background-color: #00ff00ff;
}

#footer {
  background-color:cornflowerblue;
  height: 20px;
}

/*aside bar css*/
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

    .profile-userbuttons .btn:last-child {
      margin-right: 0px;
    }

.profile-usermenu {
  margin-top: 30px;
}

  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

    .profile-usermenu ul li:last-child {
      border-bottom: none;
    }

    .profile-usermenu ul li a {
      color: #93a3b5;
      font-size: 14px;
      font-weight: 400;
    }

      .profile-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
      }

      .profile-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
      }

    .profile-usermenu ul li.active {
      border-bottom: none;
    }

      .profile-usermenu ul li.active a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
      }

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}




.example-icon {
  padding: 0 14px;
}



@mixin size($width, $height: null) {
  width: $width;
  height: if($height==null, $width, $height);
}

.theme-selectors-container {
  width: 190px;
  margin: 0 8px;
}

button.theme-selector {
  @include size(80px);
}

div.theme-primary {
  @include size(70px);
  border-radius: 50%;
}

div.theme-accent {
  @include size(25px);
  position: absolute;
  bottom: 0;
  left: 0;
}

div.theme-warn {
  @include size(15px);
  position: absolute;
  bottom: 7%;
  left: 20%;
  transform: rotate(45deg);
}

.theme-check {
  color: white;
  font-size: 3.2em;
}

.theme-selector-is-dark {
  font-weight: bold;
  font-size: 1.2em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
