/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}*/

/* You can add global styles to this file, and also import other style files */

/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*body {
  height: 100%;
}*/

html, body {
  height: 100%;
}

/*body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  align-items: center;
}*/
/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
/*mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}*/

mat-sidenav {
  width: 280px;
  padding: 15px;
}

.mat-drawer {
  background-color: #023075;
  color: #fff
}

.main-content {
  padding: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.nav-link[data-toggle].collapsed:before {
  content: " ▾";
}

.nav-link[data-toggle]:not(.collapsed):before {
  content: " ▴";
}

/*-----------------Social media buttons--------------*/

.fa {
  padding: 2px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


  .fa:hover {
    opacity: 0.7;
  }

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
