
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">Types of Authority</div>
          <div class="panel-body">

            <img height="140px" width="100%" src="../../assets/images/step1-pic.PNG" />


          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">Architecture</div>
          <div class="panel-body">

            <img height="140px" width="100%" src="../../assets/images/step2-pic.PNG" />


          </div>
        </div>
      </div>

    </div>
  



<div class="panel panel-info">
  <div class="panel-heading">Modules Available</div>
  <div class="panel-body">
    <div class="row">

      <img height="10%" width="100%" src="../../assets/images/step3-pic.PNG" />
    </div>
  </div>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
